
body {
	background: url("../images/cave.jpg") no-repeat fixed;
	background-size: cover;
	position: relative;
}

/*does not work without webkit prefix*/
h1 {
	background: url("../images/multicolorText.jpg") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 110px;
	text-align: center;
	padding-top: 20px;
	margin-top: 0;
}

h2 {
	background: url("../images/yellowText.png") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 110px;
	text-align: center;
	font-size: 35px;
}

h3 {
	background: url("../images/redText.png") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 110px;
	text-align: center;
	font-size: 27px;
	margin: 20px auto;
}

span {
	background: url("../images/yellowText.png") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.label {
	background: url("../images/redText.png") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 30px;
}

.container {
	width: 100%;
}

#gameDivs1, #gameDivs2, #gameDivs3 {
	text-align: center;
}

#instructions {
	font-size: 18px;
	margin-top: -10px;
}

/*position absolute to not push crystals down on slideToggle down*/
/*z-index to be in front of crystals during slideToggle down*/
#instructionsSlide {
	display: none;
	position: absolute;
	z-index: 1000;
	background: url("../images/scroll.png") no-repeat;
	background-width: 100%;
	background-height: auto;
	background-color: transparent;
	width: 50%;
	text-align: center;
	margin-left: 25% ;
	margin-top: -23px;
	height: 420px;
	padding: 60px;
	background-size: cover;
}

#instructionsClicker {
    margin: 0 auto;
}

#goalValueBox {
	height: 200px;
	font-size: 30px;
	font-weight: bold;
	margin-top: 35px;
}

#currentValueBox {
	height: 200px;
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
}

#scoreboard {
	font-size: 30px;
	font-weight: bold;
	margin-top: 35px;
	overflow: auto;
}

#bottomRow, #bottomContainer {
	margin: 0;
	padding: 0;
}

.crystals {
	box-shadow: 0 0 40px #fff;
}

#redCrystal {
   margin-top: 110px;
   margin-left: 20px;
}

#diamond {
	margin-top: 130px;
}

#blueCrystal {
	margin-top: 50px;
}

#greenCrystal {
	margin-top: 70px;
}



